
@{
    ViewBag.Title = "Bug Description";
}

<div class="row">
    <div class="col-md-12">
        <h2>Lab 1 - MVC App that "randomly" doesn't save data</h2>
        <p>
            This is a simple Book review app.  You can add new books, review existing books, or browse reviews others have written.  Because some books may not be appropriate
            for all audiences, you can also add an optional "advisor" to any book in the system.  The advisory shows up on the book description page.
        </p>

        <p class="alert alert-info">
            Bug Report: I tried to fix the spelling of a book title yesterday, and it didn't work.  I thought it must have been my fault, so I tried again, but it still didn't work!
            I checked another book and I was able to change the title just fine.  I think I had a similar problem last week, but then it just started working.  This system just doesn't
            seem to reliably save my data.  Please help!
        </p>
    </div>
</div>