
@{
    ViewBag.Title = "Guided Demo - Debugging the \"Random\" Won't Save";
}

<h2>Guided Demo - Debugging the "Random" Won't Save</h2>

<button class="btn btn-primary" id="btnShowHint">Show Next Step</button>
<ol id="olHints">
    <li>Identify Bug - Consider what's <em>different</em> between the books.</li>
    <li>Simulate input with <a href="http://getpostman.com">Postman</a> to see if "no advisory" causes an error</li>
    <li>Use a Visual Studio breakpoint to check what value bound to the Advisory ID when you edit</li>
    <li>Check in Chrome what's actually being sent (use Network tab and Preserve Log)</li>
    <li>Now we know a "0" is being sent to the server from the form - where did it come from</li>
    <li>Use Chrome "Inspector" to check the form as generated</li>
    <li>CONSIDER: Why did the initial developer put a 0 in the code?  What was his goal?</li>
    <li>Remove the 0 from corresponding view</li>
    <li>
        Why did the field suddenly say it's required? Why should a value suddenly be required?
        <ul>
            <li>Rubber Duck Debugging - Describe this strange behavior to your duck</li>
            <li>AFK Time</li>
            <li>Dr. Google - When is a field "required" in MVC?</li>
            <li>StackOverflow</li>
        </ul>
    </li>
    <li>Solution 1: Use nullable int in the view model</li>
    <li>Solution 2: Change the value to null befores submitting to DB</li>
</ol>

@section scripts {
    <script>
        $(function () {
            var cntHintsShown = 0;
            var cntHints = $("#olHints li").length;

            $("#olHints li").hide();
            $("#btnShowHint").click(function (e) {
                $("#olHints li:nth(" + cntHintsShown++ + ")").show();

                if (cntHints === cntHintsShown) $("#btnShowHint").prop("disabled", true);
            });
        });
    </script>
}