<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js"></script>
    <title>Lesson 11 - Forms</title>

    <script>
        angular
            .module("app", ["ngMessages"])

            .controller("MyFormController", function () {
                var vm = this;

                vm.firstName = "Yaakov";
                vm.save = save;

                init();

                function init() {
                    vm.items = [];
                    vm.editing = {};
                }

                function save() {
                    vm.editing.createdAt = new Date();
                    vm.items.push(vm.editing);

                    vm.editing = {};
                }
            });
    </script>

    <style>
        .form-group .ng-dirty.ng-invalid {
            border: 1px solid red;
        }

        .form-group .ng-dirty.ng-valid {
            border: 1px solid green;
        }
    </style>
</head>

<body class="container" ng-app="app">
    <div ng-controller="MyFormController as ctrl">
        <form name="myForm" class="form-horizontal" ng-submit="myForm.$valid && ctrl.save() || myForm.$setPristine()" novalidate>
            <div class="form-group">
                <label class="col-md-3">First Name</label>
                <div class="col-md-9">
                    <input type="text" name="firstName" class="form-control" ng-model="ctrl.editing.firstName" required minlength="4" />
                    <div ng-messages="myForm.firstName.$error" role="alert">
                        <div ng-message="required">First Name is required</div>
                        <div ng-message="minlength">First Name must be 4 characters</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">Last Name</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="ctrl.editing.lastName" required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">Email Address</label>
                <div class="col-md-9">
                    <input type="email" class="form-control" ng-model="ctrl.editing.email" required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">Comment</label>
                <div class="col-md-9">
                    <textarea class="form-control" ng-model="ctrl.editing.comment" required></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>

        <ul class="list-unstyled">
            <li ng-repeat="item in ctrl.items" class="row">
                <div class="col-md-12">
                    {{ item.firstName }} {{ item.lastName }} - <a ng-href="mailto://{{ item.email }}">{{ item.email }}</a>
                </div>

                <div class="col-md-12">
                    {{ item.createdAt | date:'short' }}
                </div>

                <div class="col-md-12">
                    {{ item.comment }}
                </div>
            </li>
        </ul>
    </div>
</body>
</html>