<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="name" value="King Alfred"/>
    </appSettings>
  
    <connectionStrings>
      <add name="MainDb" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=BikeShop;Integrated Security=true" />
      <add name="Tracking" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=BikeShop;Integrated Security=true" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>